@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&family=Playfair+Display:wght@900&display=swap');

* {
    box-sizing: border-box;
    font-Family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
}

.grid-top {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'menu'
    'cabecalho';
}

.grid-top .menu {
    grid-area: menu;
}

.grid-top .cabecalho {
    grid-area: cabecalho;
}

.menu {
    display: flex;
    background: white;
    box-shadow: 0px 0px 10px black;
    position: sticky;
    top: 0;
}

.menu a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: lightgray;
    font-weight: bold;
}

.menu a:last-child {
    margin-left: auto;
}

.cabecalho {
    display: flex;
    background-image: url("images/caravana.jpg");
    background-attachment:fixed;
    justify-content:center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 7%;
    color: white;
    text-shadow: 0px 0px 5px black;
    background-position:center;
    background-size: cover;
}

.cabecalho h1 {
    font-size:5vh;
    text-shadow: 1px 1px 10px black;
}

footer {
    display: flex;
    width:100%;
    background: rgb(34, 43, 56);
    box-shadow: 0px 1px 5px inset white;
    bottom: 0;
    margin-top: 50px;
    color: white;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

h1.titulo {
    border-style: solid;
    border-color: grey;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-width: 5px;
    padding-left: 10px;
    margin-top: 50px;
}

.dicas {
    background-color: azure;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    display: flex; 
    padding: 50px;
}

.dicas > div {
    border-radius: 10px;
    height: 200px;
    width: 350px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 25px #cfcfcf;
    padding: 10px 20px;
    margin: 15px;
}

.grid-container .item1 { 
    grid-area: destino1; 
    background-image: url(images/porto.jpg);
}
.grid-container .item2 { 
    grid-area: destino2; 
    background-image: url(images/madeira.jpg);
}
.grid-container .item3 { 
    grid-area: destino3;
    background-image: url(images/acores.jpg);
}

.grid-container .item4 { 
    grid-area: destino4;
    background-image: url(images/alentejo.jpg);
}

.grid-container .item5 { 
    grid-area: destino5; 
    background-image: url(images/algarve.jpg);
}

.grid-container .item6 { 
    grid-area: destino6; 
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px 100px;
    grid-template-areas: 
    'ecoImg ecoImg'
    'ecoDescricao ecoButton';
}

.grid-container .item6 .imgDestinoEco {
    grid-area: ecoImg; 
    background-image: url(images/caravana.jpg);
    background-size: cover;
}

.grid-container .item6 .descDestinoEco {
    grid-area: ecoDescricao; 
}

.descDestinoEco div.titulo{
    font-weight: bold;
}

.descDestinoEco div.descricao{
    font-size: small;
}

.grid-container .item6 .buttonDestinoEco {
    grid-area: ecoButton;
    justify-content: center;
    align-content: center;
    margin-left: auto;
}

.buttonTransition {
  transition-duration: 0.4s;
  }

.button {
    background-color: white;
    color: black;
    border: 2px solid grey;
}

.button:hover {
    background-color: grey;
    color: white;
}

.grid-container > div {
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s;
}

.grid-container > div:hover {
    visibility: visible;
    opacity: 0.8;
}

.fotos {
    display: grid;
    grid-gap: 50px;
    padding: 10px;
    justify-content: center;
}
.fotos img {
    transition: opacity 0.5s, box-shadow 0.5s, transform 0.5s;
}
.fotos img:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px black;
    transform: rotate(2deg);
}

.fotos div {
    position: relative;
}

.fotos div p {
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    left: 3%;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.fotos div:hover p {
    visibility: visible;
    opacity: 0.7;
}

.fotos img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: 50% 50%;
}
.fotos .galeria01 {
    grid-area: galeria01;
}

.fotos .galeria02 {
    grid-area: galeria02;
}

.fotos .galeria03 {
    grid-area: galeria03;
}
.fotos .galeria04 {
    grid-area: galeria04;
}

.fotos .galeria05 {
    grid-area: galeria05;
}

.fotos .galeria06 {
    grid-area: galeria06;
}

.fotos .galeria07 {
    grid-area: galeria07;
}

.fotos .galeria08 {
    grid-area: galeria08;
}

.fotos .galeria09 {
    grid-area: galeria09;
}

.fotos .galeria10 {
    grid-area: galeria10;
}

.fotos .galeria11 {
    grid-area: galeria11;
}

.fotos .galeria12 {
    grid-area: galeria12;
}

@media (max-width:900px) {
    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        grid-template-columns: 200px 200px ;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas: 
        'destino1 destino2'
        'destino3 destino4'
        'destino5 destino5'
        'destino6 destino6';
    }
    
    .fotos {
        grid-template-columns: 200px 200px ;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-template-areas: 
        'galeria01 galeria02'
        'galeria03 galeria04'
        'galeria05 galeria06'
        'galeria07 galeria08'
        'galeria09 galeria10'
        'galeria11 galeria12';
    }
}

@media (min-width:901px) {
    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        grid-template-columns: 20% 20% 20% 40%;
        grid-template-rows: 200px 200px;
        grid-template-areas: 
        'destino1 destino2 destino3 destino6'
        'destino4 destino4 destino5 destino6';
    }

    .fotos {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas: 
        'galeria01 galeria02 galeria03'
        'galeria04 galeria05 galeria06'
        'galeria07 galeria08 galeria09'
        'galeria10 galeria11 galeria12';
    }
}

@media (max-width:600px) {
    .fotos {
        grid-template-columns: 200px ;
        grid-template-areas: 
        'galeria01'
        'galeria02'
        'galeria03'
        'galeria04'
        'galeria05'
        'galeria06'
        'galeria07'
        'galeria08'
        'galeria09'
        'galeria10'
        'galeria11'
        'galeria12';
    }
}

div.posTop {
    position: relative;
    top: 10%; left: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    color: white;
}

div.posCidade {
    position: absolute;
    top: 100px;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    color: white;
}

div.posBottom {
    position: relative;
    top: 10px;
    line-height: 100% ;
    max-width: 150px;
    font-weight: normal;
    font-size: small;
    color: white;
}

.container { 
    background-color: azure;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    display: flex; 
    padding: 50px;
}

.container > div {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 5px 5px 3px 3px #cfcfcf;
    margin: 10px;
}

.container div div:last-child {
    width:120px;
    background-color: white;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    border-radius: 10px 0 0 10px;
    height: 100%;
}

.animacoes .imagem1 {
    grid-area: animacao1;
    position: relative;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    animation-name: animacao;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    0% {height: 20px; width: 20px;}
    25% {transform: rotate(45deg); height: 100px; width: 20px;}
    50% {transform: rotate(90deg); height: 20px; width: 20px;}
    75% {transform: rotate(180deg); height: 100px; width: 20px;}
    100% {transform: rotate(360deg); height: 20px; width: 20px;}
  }

.animacoes .imagem2 {
    grid-area: animacao2;
    position: relative;
    display: flex;
    background-color: green;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    animation-name: aumentarDiminuir;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes aumentarDiminuir {
    0% {height: 50px;
        width: 50px;}
    50% {height: 100px;
        width: 100px;}
    51% {
        transform: rotate(90deg);
    }
    100% {height: 50px;
        width: 50px;
        }
  }

.animacoes .imagem3 {
    grid-area: animacao3;
    position: relative;
    display: flex;
    background-color: blue;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    animation-name: moverQuadrado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moverQuadrado {
    0% {left:0px; top:0px;}
    25% {left:80px; top:0px;}
    50% {left:80px; top:80px;}
    75% {left:0px; top:80px;}
    100% {left:0px; top:0px;}
  }

.animacoes .imagem4 {
    grid-area: animacao4;
    display: flex;
    background-color: red;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.animacoes .imagem4 p:hover {
    font-weight: normal;
    cursor: pointer;
}

.animacoes .imagem4:active {
    animation-name: rotacaoClick;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes rotacaoClick {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
  }

.animacoes {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    grid-template-columns: 100px 100px ;
    grid-template-rows: 100px 100px ;
    grid-template-areas: 
    'animacao1 animacao2'
    'animacao3 animacao4';
}